{% extends 'base.html' %}

{% block body %}
<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Reset Password</h3>
				</div>

				<!-- Account Type -->
			
					
				<!-- Form -->
				<form method="post" id="register-account-form" action="{{ url_for('successfully_reset_view') }}">
				
					
					
					<div class="input-with-icon-left" title="Please Enter Your New Password & Min Limit 8, Also Use Special Characters i.e  * , / , @ , # For Strong Password" data-tippy-placement="right">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password-register" placeholder="Enter Your New Password" required/>
					</div>

					<div class="input-with-icon-left" title="Enter Your New Confirm Password" data-tippy-placement="right">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Enter Your New Confirm Password" required/>
					</div>


				
						<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" >Reset Password	 <i class="icon-material-outline-arrow-right-alt"></i></button>
					</form>
				
				<!-- Button -->
				
				<!-- Social Login -->
				
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<!-- Footer
================================================== -->
{% endblock %}



