{% extends 'base.html' %}

{% block body %}

<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3">

            <div class="login-register-page">
                <!-- Welcome Text -->

                <div class="welcome-text">

                    <h3 style="font-size: 26px;">You Haven't Posted Any Requirements Yet</h3>
                </div>

                <!-- Account Type -->


                <!-- Form -->
<div class="">
                <a href="{{ url_for('student_req_tutor_view') }}" class="cntrbtn">Post a Requirement</a>

                <div class="social-login-separator"><span>or</span></div>
<br>
                <a href="home.php" class="redbtn">Finds Teacher</a>
                </div>





                <!-- Button -->

                <!-- Social Login -->

            </div>

        </div>
    </div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<!-- Footer
================================================== -->
{% endblock %}